.content {
    padding: 68px 125px;
    background-color: $color-grey;

    &__header {
        display: flex;
        justify-content: space-between;
        max-width: 950px;
        margin-bottom: 20px;
    }

    &__login {
        font-size: 24px;
        font-weight: 700;
        color: $color-green-light;
    }

    &__nav {
        margin-bottom: 26px;
    }

    &__list {
        display: flex;
        list-style: none;
    }

    &__item {
        margin-right: 42px;
        display: block;
        padding-bottom: 8px;
        font-size: 16px;
        color: $color-dark;
        text-decoration: none;

        &--active {
            padding-bottom: 7px;
            border-bottom: 4px solid #B8E986;
        }

        &:hover {
            cursor: pointer;
            color: $color-green;
        }
    }

    &__link {
        
    }
}

.main {
    display: flex;
    flex-wrap: wrap;

    &__item {
        margin-right: 50px;
        margin-bottom: -12px;
    }

    &__social {
        min-width: 200px;
        max-height: 200px;
        margin-bottom: 10px;
        padding: 20px 10px 20px 20px;
        color: $color-white;
        border-radius: 10px;
        box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.03);

        &--facebook {
            background: linear-gradient(180deg, #39579A 0%, #2C4479 97.23%), #39579A;
        }

        &--twitter {
            background: linear-gradient(180deg, #059FF5 0%, #059FC3 100%), #059FF5;
        }

        &--inst {
            background:  linear-gradient( #400080, transparent), 
                            linear-gradient( 200deg, #d047d1, #ff0000,    #ffff00);
        }

        &--linkedin {
            background: linear-gradient(180deg, #007EBB 0%, #007E9D 98.51%), #007EBB;
        }

        &--youtube {
            background: linear-gradient(180deg, #CE1312 0%, #B01312 100%), #CE1312;
        }

        &--snapchat {
            background: linear-gradient(180deg, #FFFE00 0%, #F3F200 96.43%), #FFFE00;
            
            span {
                color: $color-dark;
            }
        }

        &--google {
            background: linear-gradient(180deg, #F93F2D 0%, #C73F2D 100%), #F93F2D;
        }

        &--vine {
            background: linear-gradient(180deg, #00B687 0%, #008E87 100%), #00B687;
        }

        &:hover {
            cursor: pointer;
            

            i {
                color: #E5E5E5;
            }

            span {
                color: #E5E5E5;
            }
        }
    }

    &__icon {
        margin-bottom: 33px;

        i {
            font-size: 20px;
            color: $color-white;
        }
    }

    &__count {
        font-size: 42px;
        letter-spacing: -2px;
        font-weight: 700;
    }

    &__title {
        margin-bottom: 19px;
        font-size: 12px;
        text-transform: uppercase;
    }

    &__progress {
        display: flex;
        justify-content: flex-end;
        font-size: 26px;

        i {
            font-size: 12px;
            opacity: 0.4;
        }
    }

    &__profile {
        display: flex;
    }

    &__icon {
        margin-right: 10px;
    }

    &__login {
        font-size: 13px;
    }

    &__net {
        opacity: 0.5;
    }
}

@media all and (max-width: 768px) {
    .main {

        &__social {
            min-width: 176px;
        }

        &__item {
            margin-right: 30px;
        }
    }

    .content {
        padding: 68px 60px;
    }
}

@media all and (max-width: 576px) {
    .main {

        &__social {
            min-width: 250px;
        }

        
    }

}